#logo {
	max-width: 50px;
}
#footer {
	text-align: center;
}
.page-id-6 .wp-block-cover__inner-container h1 {
	text-shadow: 1px 1px 10px #000000;
	font-size: 3.5rem;
}
.gt_float_switcher img {
	display: none !important;
}
@media (max-width: 640px) {
	#header [data-column-set="2"] > div {
		grid-template-columns: auto;
	}
	#header [data-items] {
		justify-content: center;
	}
}
[data-footer*="type-1"] .ct-footer [data-row*="top"] > div {
	justify-content: center;
	--grid-template-columns: none;
}
