.gt_float_switcher img {
	display: none !important;
}
img.logo {
	max-width: 50px;
}
img {
	/* max-height: 75vh; */
}
header,
footer {
	padding: 1rem 0;
}
code {
	font-size: 2.5rem;
	background-color: greenyellow;
}
img.rounded {
	border-radius: 999px;
}
img.border,
img.rounded {
	border: double 5px #ddd;
}
header,
footer {
	background-color: #c8effe;
}
.grid-container {
	padding-top: 2rem;
	padding-bottom: 2rem;
}
.byline {
	font-size: 0.85rem;
	color: #999;
}
/* VIDEO, local */
figure.video,
video {
	max-width: 100%;
}
/* VIDEO, youtube */
.video-container {
	position: relative;
	padding-bottom: 56.25%;
}
.video-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
