<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="x-ua-compatible" content="ie=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>LivingLaboratory.org</title>
		<link rel="stylesheet" href="css/foundation.css" />
		<link rel="stylesheet" href="css/app.css" />
	</head>
	<body>
		<div class="grid-container">
			<!--  -->
			<header class="grid-x grid-padding-x grid-padding-y align-middle">
				<div class="large-4 medium-4 small-4 cell">
					<div>
						<a href="/" rel="home" class="h4"><img src="media/logo.png" alt="" class="logo" /> LivingLaboratory.org</a>
					</div>
				</div>
				<div class="large-8 medium-8 small-8 cell">
					<div>
						<ul class="dropdown menu align-right" data-dropdown-menu>
							<li><a href="species.html">Species</a></li>
							<li>
								<a href="reports.html">Reports</a>
								<ul class="menu align-right">
									<li><a href="possible-approaches.html">Creating a Living Laboratory</a></li>
									<li><a href="intertidal-zones.html">Intertidal Zones</a></li>
								</ul>
							</li>
							<li><a href="contact.html">Contact</a></li>
						</ul>
					</div>
				</div>
			</header>
			<!--  -->
			<div class="grid-x grid-padding-x">
				<div class="large-12 cell">
					<h1>api.inaturalist</h1>
				</div>
			</div>
			<!--  -->
			<div class="grid-x grid-padding-x">
				<div class="large-12 medium-12 small-12 cell">
					<div>
						<h2 class="wp-block-heading">Recent Observations</h2>
					</div>
				</div>
			</div>

			<!--













 -->
			<!-- <p><img src="_dev/species.jpg" style="max-height: none; width: 100%" /></p> -->
			<script type="importmap">
				{
					"imports": {
						"vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
					}
				}
			</script>
			<!--




for species/family...
https://api.inaturalist.org/v1/observations/species_counts?project_id=152030&per_page=2



https://api.inaturalist.org/v1/docs/#!/Observations/get_observations

This example fetches latest Vue.js commits data from GitHub’s API and displays them as a list.
You can switch between the two branches.
-->

			<script type="module">
				// import inatjson from "https://api.inaturalist.org/v1/observations?project_id=152030&per_page=3&order=desc&order_by=created_at" assert { type: "json" };
				// console.log(inatjson);

				import { createApp } from "vue";

				createApp({
					data: () => ({
						// branches: ["main", "v2-compat"],
						// currentBranch: "main",
						page: null,
						per_page: null,
						results: null,
						total_results: null,
						order_by: "species_guess",
						order: "desc",
						answer: null,
						loading: false,
					}),
					watch: {
						order_by: {
							handler(newValue) {
								this.fetch_inaturalist_json();
							},
							immediate: true,
						},
						order: {
							handler(newValue) {
								this.fetch_inaturalist_json();
							},
							immediate: true,
						},
					},
					// computed: {
					// 	sortedJson: function () {
					// 		return this.results.sort((t1, t2) => (t1.id < t2.id ? -1 : 1));
					// 	},
					// },
					methods: {
						async fetch_inaturalist_json() {
							this.loading = true;
							this.answer = "Thinking...";
							try {
								// threatened=true|false|null
								// introduced=true|false|null
								// const res = await fetch("https://api.inaturalist.org/v1/observations?project_id=152030&per_page=3&order=" + this.order + "&order_by=" + this.order_by + "");
								const res = await fetch("https://api.inaturalist.org/v1/observations?project_id=152030&per_page=3");
								const frominat = await res.json();
								// const jsonObjectArray = await JSON.parse(frominat);
								console.log(frominat);
								// jsonObjectArray.sort((t1, t2) => (t1.id < t2.id ? -1 : 1));
								// console.log(jsonObjectArray);
								this.page = frominat.page;
								this.per_page = frominat.per_page;
								this.results = frominat.results;
								this.total_results = frominat.total_results;
								this.answer = "loaded. ";
							} catch (error) {
								this.answer = "Error! Could not reach the API. " + error;
							} finally {
								this.loading = false;
							}
						},
					},
					// truncate(v) {
					//   const newline = v.indexOf('\n')
					//   return newline > 0 ? v.slice(0, newline) : v
					// },
					// formatDate(v) {
					//   return v.replace(/T|Z/g, ' ')
					// }
					// },
				}).mount("#app");
			</script>
			asc or desc
			<div id="app">
				<!--  -->
				<div class="grid-x grid-margin-x">
					<div class="cell auto">
						<!-- do ordering not as a fetch -->
						<select v-model="order_by">
							<option disabled value="">Order by</option>
							<option value="species_guess">English Name a/z</option>
							<option value="id">(not searchable) Latin Name a/z</option>
							<option value="created_at">Date oldest/newest</option>
						</select>
						<select v-model="order">
							<option disabled value="">Order</option>
							<option value="asc">asc</option>
							<option value="desc">desc</option>
						</select>
					</div>
					<div class="cell auto">
						<!-- get project data? -->
						<select id="dino-select">
							<option>All Species (not sure how to generate)</option>
							<optgroup label="Kingdom">
								<option>Animalia</option>
								<option>Plantae</option>
								<option>Fungi</option>
								<option>Protista</option>
								<option>Archaea/Archaebacteria</option>
								<option>Bacteria or Eubacteria</option>
							</optgroup>
							<optgroup label="Family">
								<option>abcd...</option>
								<option>abcd...</option>
								<option>abcd...</option>
							</optgroup>
						</select>
					</div>
					<div class="cell auto">
						<!-- get project data? -->
						<select id="dino-select">
							<option>All Locations (only 1)</option>
							<optgroup label="Deadmans Head">
								<option>abcd...</option>
								<option>abcd...</option>
								<option>abcd...</option>
							</optgroup>
							<optgroup label="Another Site">
								<option>abcd...</option>
								<option>abcd...</option>
								<option>abcd...</option>
							</optgroup>
						</select>
					</div>
					<div class="cell auto">
						<!-- post api filter? -->
						<select>
							<option>All Threat Levels</option>
							<option>(not searchable) Endangered</option>
							<option>Threatened</option>
							<option>(not searchable) Vulneratble</option>
							<option>(not searchable) Extinct</option>
						</select>
					</div>
					<div class="cell auto">
						<!-- not asked for -->
						<select>
							<option>All Establishment Means</option>
							<option>Native</option>
							<option>Introduced</option>
						</select>
					</div>
				</div>
				<!--  -->
				<!-- <template v-for="branch in branches">
					<input type="radio" :id="branch" :value="branch" name="branch" v-model="total_results" />
					<label :for="branch">{{ page }}</label>
				</template> -->
				<div>Selected: {{ answer }}</div>
				<p>total_results: {{ total_results }}</p>
				<ul>
					<li v-for="{ captive, taxon, uri, place_guess, observed_on_string, identifications, photos } in results">
						<a :href="uri">English name: {{ taxon.preferred_common_name }}</a><br />
						Latin name: {{ taxon.name }}<br />
						Family name: {{ taxon.name }}<br />
						Location: {{ place_guess }}<br />
						Date: {{ observed_on_string }}<br />
						<!-- ({{ identifications.taxon.preferred_common_name }})<br /> -->
						({{ photos[0].url }})<br />
						{{ captive }}
					</li>
				</ul>
			</div>
			<!--

















	 -->
			<!--  -->
			<footer class="grid-x grid-padding-x grid-padding-y align-middle" id="contact">
				<div class="large-4 medium-4 small-4 cell">
					<div>
						<a href="/" rel="home" class="h4"><img src="media/logo.png" alt="" class="logo" /> LivingLaboratory.org</a>
					</div>
				</div>
				<div class="large-8 medium-8 small-8 cell">
					<div>
						<ul class="menu align-right">
							<ul class="menu align-right">
								<li><a href="species.html">Species</a></li>
								<li><a href="reports.html">Reports</a></li>
								<li><a href="contact.html">Contact</a></li>
								<li><a href="legal.html">Legal Stuff</a></li>
							</ul>
						</ul>
					</div>
				</div>
			</footer>
			<!--  -->
		</div>

		<script src="js/vendor/jquery.js"></script>
		<script src="js/vendor/what-input.js"></script>
		<script src="js/vendor/foundation.js"></script>
		<script src="js/app.js"></script>

		<!--https://gtranslate.io/website-translator-widget-->
		<div class="gtranslate_wrapper"></div>
		<script>
			window.gtranslateSettings = {
				default_language: "en",
				native_language_names: true,
				detect_browser_language: true,
				languages: ["en", "fr"],
				wrapper_selector: ".gtranslate_wrapper",
				alt_flags: { en: "usa", fr: "quebec" },
			};
		</script>
		<script src="https://cdn.gtranslate.net/widgets/latest/float.js" defer></script>
	</body>
</html>
