.gt_float_switcher img {
	display: none !important;
}
img.logo {
	max-width: 50px;
}
img {
	max-height: 75vh;
}
figure.video,
video {
	max-width: 100%;
}
header,
footer {
	padding: 1rem 0;
}
code {
	font-size: 2.5rem;
	background-color: greenyellow;
}
