<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="x-ua-compatible" content="ie=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Foundation for Sites</title>
		<link rel="stylesheet" href="css/foundation.css" />
		<link rel="stylesheet" href="css/app.css" />
	</head>
	<body>
		<div class="grid-container">
			<!--  -->
			<header class="grid-x grid-padding-x grid-padding-y align-middle">
				<div class="large-4 medium-4 small-4 cell">
					<div>
						<a href="/" rel="home" class="h4"><img src="media/logo.png" alt="" class="logo" /> LivingLaboratory.org</a>
					</div>
				</div>
				<div class="large-8 medium-8 small-8 cell">
					<div>
						<ul class="dropdown menu align-right" data-dropdown-menu>
							<li><a href="species.html">Species</a></li>
							<li>
								<a href="reports.html">Reports</a>
								<ul class="menu align-right">
									<li><a href="possible-approaches.html">Creating a Living Laboratory</a></li>
									<li><a href="intertidal-zones.html">Intertidal Zones</a></li>
								</ul>
							</li>
							<li><a href="contact.html">Contact</a></li>
						</ul>
					</div>
				</div>
			</header>
			<!--  -->
			<div class="grid-x grid-padding-x">
				<div class="large-12 cell">
					<h1>api.inaturalist</h1>
				</div>
			</div>
			<!--  -->
			<div class="grid-x grid-padding-x">
				<div class="large-12 medium-12 small-12 cell">
					<div>
						<h2 class="wp-block-heading">Recent Observations</h2>
					</div>
				</div>
			</div>
			<!--  -->
			<div class="grid-x grid-margin-x">
				<div class="cell auto">
					<select>
						<option>English Name a/z</option>
						<option>Latin Name a/z</option>
						<option>Date oldest/newest</option>
					</select>
				</div>
				<div class="cell auto">
					<select id="dino-select">
						<option>All Species</option>
						<optgroup label="Kingdom">
							<option>abcd...</option>
							<option>abcd...</option>
							<option>abcd...</option>
						</optgroup>
						<optgroup label="Family">
							<option>abcd...</option>
							<option>abcd...</option>
							<option>abcd...</option>
						</optgroup>
					</select>
				</div>
				<div class="cell auto">
					<select id="dino-select">
						<option>All Locations</option>
						<optgroup label="Deadmans Head">
							<option>abcd...</option>
							<option>abcd...</option>
							<option>abcd...</option>
						</optgroup>
						<optgroup label="Another Site">
							<option>abcd...</option>
							<option>abcd...</option>
							<option>abcd...</option>
						</optgroup>
					</select>
				</div>
				<div class="cell auto">
					<select>
						<option>All Threat Levels</option>
						<option>Endangered</option>
						<option>Threatened</option>
						<option>Vulneratble</option>
						<option>Extinct</option>
					</select>
					<!-- <select>
								<option>All Establishment Means</option>
								<option>Native</option>
								<option>Introduced</option>
							</select> -->
				</div>
			</div>
			<!--  -->

			<!--














	https://api.inaturalist.org/v1/observations?project_id=152030&per_page=3&order=desc&order_by=created_at -->
			<!-- <p><img src="_dev/species.jpg" style="max-height: none; width: 100%" /></p> -->
			<script type="importmap">
				{
					"imports": {
						"vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
					}
				}
			</script>
			<!--









This example fetches latest Vue.js commits data from GitHub’s API and displays them as a list.
You can switch between the two branches.
-->

			<script type="module">
				import { createApp } from "vue";

				const API_URL = `https://api.inaturalist.org/v1/observations?project_id=152030&per_page=3&order=desc&order_by=created_at`;

				const { data, error } = useFetch(() => `${API_URL}`);
				console.log(data);

				createApp({
					data: () => ({
						branches: ["main", "v2-compat"],
						currentBranch: "main",
						commits: null,
					}),

					created() {
						// fetch on init
						this.fetchData();
					},

					watch: {
						// re-fetch whenever currentBranch changes
						currentBranch: "fetchData",
					},

					methods: {
						async fetchData() {
							const url = `${API_URL}`;
							this.commits = await (await fetch(url)).json();
							console.log(this.commits);
						},
						// truncate(v) {
						//   const newline = v.indexOf('\n')
						//   return newline > 0 ? v.slice(0, newline) : v
						// },
						// formatDate(v) {
						//   return v.replace(/T|Z/g, ' ')
						// }
					},
				}).mount("#app");
			</script>

			<div id="app">
				<template v-for="branch in branches">
					<input type="radio" :id="branch" :value="branch" name="branch" v-model="currentBranch" />
					<label :for="branch">{{ branch }}</label>
				</template>
				<p>vuejs/vue@{{ currentBranch }}</p>
				<ul>
					<li v-for="{ html_url, sha, author, commit } in commits">
						<a :href="html_url" target="_blank" class="commit">{{ sha.slice(0, 7) }}</a>
						- <span class="message">{{ truncate(commit.message) }}</span><br />
						by
						<span class="author">
							<a :href="author.html_url" target="_blank">{{ commit.author.name }}</a>
						</span>
						at <span class="date">{{ formatDate(commit.author.date) }}</span>
					</li>
				</ul>
			</div>
			<!--

















	 -->
			<!--  -->
			<footer class="grid-x grid-padding-x grid-padding-y align-middle" id="contact">
				<div class="large-4 medium-4 small-4 cell">
					<div>
						<a href="/" rel="home" class="h4"><img src="media/logo.png" alt="" class="logo" /> LivingLaboratory.org</a>
					</div>
				</div>
				<div class="large-8 medium-8 small-8 cell">
					<div>
						<ul class="menu align-right">
							<ul class="menu align-right">
								<li><a href="species.html">Species</a></li>
								<li><a href="reports.html">Reports</a></li>
								<li><a href="contact.html">Contact</a></li>
								<li><a href="legal.html">Legal Stuff</a></li>
							</ul>
						</ul>
					</div>
				</div>
			</footer>
			<!--  -->
		</div>

		<script src="js/vendor/jquery.js"></script>
		<script src="js/vendor/what-input.js"></script>
		<script src="js/vendor/foundation.js"></script>
		<script src="js/app.js"></script>

		<!--https://gtranslate.io/website-translator-widget-->
		<div class="gtranslate_wrapper"></div>
		<script>
			window.gtranslateSettings = {
				default_language: "en",
				native_language_names: true,
				detect_browser_language: true,
				languages: ["en", "fr"],
				wrapper_selector: ".gtranslate_wrapper",
				alt_flags: { en: "usa", fr: "quebec" },
			};
		</script>
		<script src="https://cdn.gtranslate.net/widgets/latest/float.js" defer></script>
	</body>
</html>
